
@{
    ViewData["Title"] = "Inicio";
}
<body>
    <div class="text-center">
        <h1 class="display-1">Bienvenidos a Cinema Ort</h1><br/>
        <h3 class="display-4">Elige tu película</h3><br /><br />
    </div>

    <form class="form-control-file">
        <label class="display-2">Star Wars</label>
    </form>
</body>