@model WebCineMVC.Models.Funcion

@{
    ViewData["Title"] = "Elegir pelicula";
}

<div class="Titulo display-3">
    <h1>Las mejores pelicuas estan en CinemaOrt</h1>
</div>


@*<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PeliculaId" class="control-label"></label>
                <select asp-for="PeliculaId" class="form-control" name="peli" asp-items="ViewBag.PeliculaId">
                    <option selected="selected" name="peli">Select</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}