@{
    ViewData["Title"] = "Terminos y condiciones";
}
<h1>@ViewData["Title"]</h1>

<p>Cinema Ort es una marca registrada de "AlumnosPNT1 S.R.L". Toda pagina por fuera de la reglamentada no es 
    mas que una mera falsificacion o reeplica. No nos hacemos responsables por perdidas de dinero con entes externos
    falsos.</p>
