@model WebCineMVC.Models.Compra

@{
    ViewData["Title"] = "Compra finalizada";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<div class="Titulo">
    ¡Muchas gracias por tu compra!
</div>

<div class="tituloComp">
    Comprobante
</div>

<div class="movieElect">
    <form>
        <div class="form-group">
            <label class="comprobante">Dni: @Html.DisplayFor(model => model.Dni) </label>
        </div>
        <div class="form-group">
            <label class="comprobante">Función: @ViewData["Fecha"] </label>
            
        </div>
        <div class="form-group">
            <label class="comprobante">Pelicula: @ViewData["PElegida"] </label>
             
        </div>
        <div class="form-group">
            <label class="comprobante">Entradas compradas: @Html.DisplayFor(model => model.CantidadDeEntradas) </label>
            
        </div>
    </form>
</div>

<div class="botonRetorno">
    <a asp-action="Index" asp-controller="Home"><input type="submit" value="Volver al menú principal" class="btn btn-primary" /></a>
</div>





