@model WebCineMVC.Models.Compra

@{
    ViewData["Title"] = "ComprarEntradas";
}

<div class="Titulo">Compra de entradas</div>

<div class="movieElect">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="subForms">Dni</label>
                    <input asp-for="Dni" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="subForms">Función</label>
                    <select asp-for="FuncionId" class="form-control" asp-items="ViewBag.FuncionId">
                        <option selected="selected" value="">Seleccionar</option>
                    </select>
                    <span asp-validation-for="FuncionId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="subForms">Cantidad</label>
                    <input asp-for="CantidadDeEntradas" class="form-control" min="0" value="1"/>
                    <span asp-validation-for="CantidadDeEntradas" class="text-danger"></span>
                    <div class="errorTickets">@ViewData["ErrorTicketsInsuficientes"]</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Comprar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    
<div class="botonRetorno">
    <a asp-action="Index" asp-controller="Home"><input type="submit" value="Volver al inicio" class="btn btn-primary" /></a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

