/*Le damos estilo al comprobante final*/
.tituloComp {
    font-size: 45px;
    text-align: center;
    margin-right: 50px;
    color: floralwhite;
    font-family: Britannic;
}

.comprobante {
    font-size: 30px;
    color: floralwhite;
    font-family: Britannic;
}

dl dt {
    font-size: 28px;
    color: palegoldenrod;
    font-family: Britannic;
    
}

dl dd {
    font-size: 24px;
    color: papayawhip;
    font-family: Britannic;
}
/*--------------------------------------------------*/

/*Estilo a los mensajes de error de sala duplicada y cantidad de tickets a comprar supera el limite disp*/
.errorTickets {
    font-size: 15px;
    color: red;
    padding:0;
    margin:0;
}
/*---------------------------------------------------*/

/*Le damos estilo al front de los modelos, principalmente los index*/
.subForms {
    font-size: 30px;
    color:brown;
    font-family: Britannic;
}

table th {
    font-size: 27px;
    color: navajowhite;
    font-family: Britannic;
}

table td {
    font-size: 20px;
    color:whitesmoke;
    font-family: Britannic;
}

a.opciones{
        color: palegoldenrod;
        font-family: Britannic;
    }
/*---------------------------------------------------*/

/*Le damos estilo a la barra de navegación*/
nav {
    margin-bottom: 6px;
    padding: 5px;
    background-color:black;
}

.columnaSeccion {
    float: left;
    width: 25%;
    padding: 0 15px;
    text-align: center;
    font-family: Britannic;
}

.filaSecciones {
    margin: 0 -5px;
    text-align: center;
    font-size: 25px;
}
.filaSecciones:after {
    content: "";
    display: table;
    clear: both;
 }
/*---------------------------------------------------*/

/*Y aqui, le damos estilo a los titulos principales, distintos forms de nuestros modelos, boton de retorno*/
.homeTitulo {
    font-size: 40px;
    color: crimson;
    font-family: Britannic;
}

.movieElect {
    width: 40%;
    padding: 0;
    text-align: center;
    margin-left: 310px;
}

.movieDetails {
    width: 50%;
    text-align: center;
    margin-left: 300px;
}

.form-group {
    text-align: center;
}


.botonRetorno {
    text-align: center;
    margin-right: 50px;
}

.Titulo {
    margin-bottom: 5px;
    font-size: 50px;
    font-family: Britannic;
    text-align: center;
    color: palegoldenrod;
}
/*------------------------------------------------------*/

/*Le damos estilos a nuestros links, principalmente los del nav y los botones edit,details y delete*/

a:link {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*Personalizamos el fondo para la pantalla principal y las restantes pantallas*/
.fondoHome {
    background-image: url("/images/main.jpg");
    width: 100%;
    background-size: cover;
    background-position: center center;
}

body {
    background-image: url("/images/main2.jpg");
    width: 100%;
    background-size:contain;
    background-position: center;
}

