@model WebCineMVC.Models.Funcion

@{
    ViewData["Title"] = "Editar Función";
}

<div class="Titulo">
    Función
</div>


<div class="movieElect">
    @*<div class="row">
        <div class="col-md-4">*@
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="subForms">Fecha</label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="subForms">Sala</label>
                    <select asp-for="SalaId" class="form-control" asp-items="ViewBag.SId">
                        <option selected="selected" value="">Seleccionar</option> 
                    </select>
                    <span asp-validation-for="SalaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="subForms">Película</label>
                    <select asp-for="PeliculaId" class="form-control" asp-items="ViewBag.PelId">
                        <option selected="selected" value="">Seleccionar</option>
                    </select>
                    <span asp-validation-for="PeliculaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
 </div>

<div class="botonRetorno">
    <a asp-action="Index" asp-controller="Home"><input type="submit" value="Volver al inicio" class="btn btn-primary" /></a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
