<!--
@{
//ViewData["Title"] = "Inicio";
//@model WebCineMVC.Models.Funcion
}
<body>
    <div class="text-center">
        <h1 class="display-1">Bienvenidos a Cinema Ort</h1><br /><br />-->
@*<h3 class="display-4">Elige tu película</h3><br /><br />*@
<!--</div>-->
@*<button type="button" onclick="location.href='@Url.Action("Create", "Compras")'">Comprar tickets</button>*@

@*<form class="form-control-file">*@
@*<div class="form-group">*@
<!--<form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Compras">
      <div class="form-group">
    <label class="control-label">Selecciona tu pelicula</label>
    <select asp-for="PeliculaId" class="form-control" asp-items="ViewBag.PeliculaId">
                <option selected="selected"  value="peli">Select</option>
            </select>
            <span asp-validation-for="PeliculaId"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Aceptar" class="btn btn-primary" />
        </div>
    </form>
</body>-->

@model WebCineMVC.Models.Funcion

@{
    ViewData["Title"] = "Elegir pelicula";
}

<h1>Seleccione su pelicula</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PeliculaId" class="control-label"></label>
                @*<input asp-for="SalaId" class="form-text" name="peli" />
                <span asp-validation-for="SalaId" class="text-danger"></span>*@
            <select asp-for="PeliculaId" class="form-control" name="peli" asp-items="ViewBag.PeliculaId">Select</select>
                @*<option selected="selected" name="peli">Select</option>*@
            

            </div>
            
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al menú principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}