@model WebCineMVC.Models.Pelicula

@{
    ViewData["Title"] = "Borrar pelicula";
}

<div class="Titulo">¿Seguro desea borrar esta película?</div><br />

<div class="movieElect">

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Volver al listado</a>
    </form>
</div>
