@model WebCineMVC.Models.Sala

@{
    ViewData["Title"] = "Crear sala";
}

<div class="Titulo">Crear nueva sala</div>

<div class="movieElect">
    @*<div class="row">
        <div class="col-md-4">*@
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="subForms">Asientos</label>
            <input asp-for="Asientos" class="form-control" />
            <span asp-validation-for="Asientos" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="subForms">Numero</label>
            <input asp-for="Numero" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
            <div class="errorTickets">@ViewData["SalaExistente"]</div>
       </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </form>
</div>

<form class="botonRetorno" asp-action="Index">
    <input type="submit" value="Volver al listado" class="btn btn-primary" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
